extends layout

block content
  h1= title
  script(src='/javascripts/feedbackButtonPress.js')
  a(href='/') back to main page
  table
    tr
      - for (var i = 0; i <  numberOfSmileys ; i++)
        td
          form(method='POST' action='/feedbackGiven')
            input#eventName.form-control(type="hidden", ID='NewEventName', name='eventName', value=eventID)
            input#smileyID.form-control(type="hidden", ID='NewEventNumberOfSmileys', name = 'smileyID', value = i)
            button.btn.btn-primary(class = 'feedback' type='submit' ID='FeedbackButton')
              img(src="/images/Smiley"+i+".png" class='feedback')


