extends layout

block content
  body(bgcolor="#5288BB")
  script(src='/javascripts/feedbackButtonPress.js')

  div
    img#agileSparksLogo(src='/images/AgileSparks.png')
  div
    table(class='feedbackTable')
      tr
        - for (var i = 0; i <  numberOfSmileys ; i++)
          td(class='feedbackTD')
            button#feedbackButton(class = 'feedbackButton' type='submit' onclick='smileyButtonPress (' +eventID+ ', ' +i+ ')')
              img(src="/images/Smiley"+i+".png" class='feedbackButtonImage')

  div
    img#howWasIt(src='/images/HowWasIt.png') 
  
  


