extends layout

block content
  body(bgcolor="#5288BB")
  script(src='/javascripts/feedbackButtonPress.js')
  div#menu_outer
    div(class='table')
      ul#feedbackButtons
        - for (var i = 0; i <  numberOfSmileys ; i++)
          li
            button#feedbackButton(class = 'feedbackButton' type='submit' onclick='smileyButtonPress (' +eventID+ ', ' +i+ ')')
              img(src="/images/Smiley"+i+".png" class='feedbackButtonImage')
  img(src='images/smiley.gif" alt="Smiley face" height="42" width="42">


