extends layout
block content
  h1= title
  form(method='POST' action='/addEvent')
    div.form-group
      label(for='event name')   New Event Name:
      input#NewEventName.form-control(type='text', name='NewEventName')
      //label(for='numberOfSmileys')   Number of Smileys:
      input#NewEventNumberOfSmileys.form-control(type='hidden', value=5, name='NewEventNumberOfSmileys')
      button.btn.btn-primary(class = 'submit' type='submit' ID='NewEventButton') Create event!
  - for (var i = 0; i < events.length ; i++)
    div
      label(class = 'eventName' id='eventID:'+events[i].ID) Event:#{events[i].ID}
      a(href='/feedback/' + events[i].ID) Provide Feedback Here
    table
      tr
        td
          label(class='stat') Provided Feedback:
        - for (var j = 0; j < events[i].smileysFeedbackCountArray.length ; j++)
          td(class='stat')    
            label(class='stat' id='eventID:'+events[i].ID+'Stat:'+j) #{events[i].smileysFeedbackCountArray[j]} click(s)
  