body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label.eventName {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label.stat {
  padding: 10px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td.stat {
  border: 1px solid black;
}

img.feedbackButtonImage {
  border-radius: 100%;
}

img.feedbackButtonImage:active {
   transform: scale(2);
   

}

#howWasIt {
  display: block;
  margin: auto;
  width: 40%;
  padding: 40px 0px 0px 0px;
}

#agileSparksLogo
{
  float: right;

}

.feedbackTable {
	display: table;   /* Allow the centering to work */
  min-width: 100%;
  padding-top: 9%;

  align-self:  center;
}

td.feedbackTD{
  text-align: center;
}

/*ul.feedbackButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.feedbackButtons {
    display: inline;
}*/

button.submit {
  background-color: white; /* Green */
  border: 2px solid black;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
